In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')
df.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert

In [3]:
df = df.dropna()

In [4]:
df['Stage_fear'] = df['Stage_fear'].apply(lambda x: 0 if x == "No" else 1)

In [5]:
df

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,0,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,0,7.0,3.0,No,10.0,8.0,Extrovert
3,3,3.0,0,7.0,3.0,No,11.0,5.0,Extrovert
7,7,2.0,0,8.0,3.0,No,4.0,5.0,Extrovert
9,9,1.0,0,8.0,6.0,No,14.0,9.0,Extrovert
...,...,...,...,...,...,...,...,...,...
18509,18509,1.0,0,3.0,4.0,No,15.0,4.0,Extrovert
18511,18511,0.0,0,4.0,5.0,No,11.0,4.0,Extrovert
18514,18514,6.0,0,5.0,3.0,No,10.0,4.0,Extrovert
18519,18519,3.0,0,7.0,3.0,No,9.0,7.0,Extrovert
18523,18523,1.0,0,8.0,6.0,No,4.0,7.0,Extrovert

In [6]:
df['Drained_after_socializing'] = df['Drained_after_socializing'].apply(lambda x: 0 if x == "No" else 1)

In [7]:
df['Drained_after_socializing']

0        0
1        0
3        0
7        0
9        0
        ..
18509    0
18511    0
18514    0
18519    0
18523    0
Name: Drained_after_socializing, Length: 10189, dtype: int64

In [8]:
df['Personality'] = df['Personality'].apply(lambda x: 0 if x == 'Introvert' else 1)

In [9]:
df.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,0,6.0,4.0,0,15.0,5.0,1
1,1,1.0,0,7.0,3.0,0,10.0,8.0,1
3,3,3.0,0,7.0,3.0,0,11.0,5.0,1
7,7,2.0,0,8.0,3.0,0,4.0,5.0,1
9,9,1.0,0,8.0,6.0,0,14.0,9.0,1

In [10]:
X = df.drop(['Personality', 'id'], axis=1)
y = df['Personality']

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam

# Define the model
model = Sequential([
    Dense(32, input_shape=(7,), activation='relu'),
    Dropout(0.2),  # Optional, helps reduce overfitting
    Dense(16, activation='relu'),
    Dense(1, activation='sigmoid')  # Binary output
])

# Compile the model
model.compile(
    optimizer=Adam(learning_rate=0.001),
    loss='binary_crossentropy',
    metrics=['accuracy']
)

# Summary (optional)
model.summary()

2025-07-01 18:59:14.730706: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-07-01 18:59:14.745049: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:467] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1751421554.756979   11152 cuda_dnn.cc:8579] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1751421554.761088   11152 cuda_blas.cc:1407] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
W0000 00:00:1751421554.771064   11152 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1751421554.771081   11152 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1751421554.771082   11152 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1751421554.771083   11152 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
2025-07-01 18:59:14.774200: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI AVX512_BF16 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
/home/sahand/projects/playground-series-s5e7/venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
I0000 00:00:1751421558.668583   11152 gpu_device.cc:2019] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 6168 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 4060 Laptop GPU, pci bus id: 0000:01:00.0, compute capability: 8.9

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 32)             │           256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout (Dropout)               │ (None, 32)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 16)             │           528 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            17 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 801 (3.13 KB)

 Trainable params: 801 (3.13 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
history = model.fit(X_train, y_train, epochs=40, batch_size=32, validation_split=0.2)

Epoch 1/40

WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1751421583.860592   11234 service.cc:152] XLA service 0x7f4924005a00 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
I0000 00:00:1751421583.860606   11234 service.cc:160]   StreamExecutor device (0): NVIDIA GeForce RTX 4060 Laptop GPU, Compute Capability 8.9
2025-07-01 18:59:43.876801: I tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:269] disabling MLIR crash reproducer, set env var `MLIR_CRASH_REPRODUCER_DIRECTORY` to enable.
I0000 00:00:1751421584.011323   11234 cuda_dnn.cc:529] Loaded cuDNN version 91002

 86/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9385 - loss: 0.2140

I0000 00:00:1751421584.464692   11234 device_compiler.h:188] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

204/204 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - accuracy: 0.9444 - loss: 0.2014 - val_accuracy: 0.9669 - val_loss: 0.1490
Epoch 2/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9626 - loss: 0.1695 - val_accuracy: 0.9675 - val_loss: 0.1450
Epoch 3/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9658 - loss: 0.1590 - val_accuracy: 0.9681 - val_loss: 0.1440
Epoch 4/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9622 - loss: 0.1580 - val_accuracy: 0.9675 - val_loss: 0.1437
Epoch 5/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9646 - loss: 0.1599 - val_accuracy: 0.9687 - val_loss: 0.1433
Epoch 6/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9647 - loss: 0.1544 - val_accuracy: 0.9687 - val_loss: 0.1401
Epoch 7/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9654 - loss: 0.1494 - val_accuracy: 0.9687 - val_loss: 0.1436
Epoch 8/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9663 - loss: 0.1513 - val_accuracy: 0.9687 - val_loss: 0.1448
Epoch 9/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9656 - loss: 0.1476 - val_accuracy: 0.9687 - val_loss: 0.1446
Epoch 10/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9617 - loss: 0.1600 - val_accuracy: 0.9687 - val_loss: 0.1442
Epoch 11/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9621 - loss: 0.1615 - val_accuracy: 0.9687 - val_loss: 0.1464
Epoch 12/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9647 - loss: 0.1494 - val_accuracy: 0.9693 - val_loss: 0.1390
Epoch 13/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9650 - loss: 0.1512 - val_accuracy: 0.9687 - val_loss: 0.1447
Epoch 14/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9638 - loss: 0.1528 - val_accuracy: 0.9687 - val_loss: 0.1451
Epoch 15/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9665 - loss: 0.1418 - val_accuracy: 0.9687 - val_loss: 0.1421
Epoch 16/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9647 - loss: 0.1535 - val_accuracy: 0.9681 - val_loss: 0.1432
Epoch 17/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9636 - loss: 0.1592 - val_accuracy: 0.9687 - val_loss: 0.1457
Epoch 18/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9628 - loss: 0.1549 - val_accuracy: 0.9687 - val_loss: 0.1627
Epoch 19/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9674 - loss: 0.1426 - val_accuracy: 0.9687 - val_loss: 0.1449
Epoch 20/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9657 - loss: 0.1480 - val_accuracy: 0.9687 - val_loss: 0.1416
Epoch 21/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9665 - loss: 0.1457 - val_accuracy: 0.9687 - val_loss: 0.1435
Epoch 22/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9668 - loss: 0.1447 - val_accuracy: 0.9687 - val_loss: 0.1447
Epoch 23/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9674 - loss: 0.1436 - val_accuracy: 0.9681 - val_loss: 0.1439
Epoch 24/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9648 - loss: 0.1408 - val_accuracy: 0.9687 - val_loss: 0.1361
Epoch 25/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9647 - loss: 0.1481 - val_accuracy: 0.9687 - val_loss: 0.1475
Epoch 26/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9646 - loss: 0.1455 - val_accuracy: 0.9687 - val_loss: 0.1404
Epoch 27/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9622 - loss: 0.1559 - val_accuracy: 0.9687 - val_loss: 0.1381
Epoch 28/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9587 - loss: 0.1638 - val_accuracy: 0.9687 - val_loss: 0.1352
Epoch 29/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9644 - loss: 0.1487 - val_accuracy: 0.9681 - val_loss: 0.1400
Epoch 30/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9635 - loss: 0.1479 - val_accuracy: 0.9681 - val_loss: 0.1424
Epoch 31/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9620 - loss: 0.1574 - val_accuracy: 0.9687 - val_loss: 0.1372
Epoch 32/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9622 - loss: 0.1530 - val_accuracy: 0.9687 - val_loss: 0.1386
Epoch 33/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9658 - loss: 0.1421 - val_accuracy: 0.9687 - val_loss: 0.1397
Epoch 34/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9646 - loss: 0.1454 - val_accuracy: 0.9687 - val_loss: 0.1381
Epoch 35/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9647 - loss: 0.1461 - val_accuracy: 0.9687 - val_loss: 0.1363
Epoch 36/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9644 - loss: 0.1429 - val_accuracy: 0.9681 - val_loss: 0.1360
Epoch 37/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9649 - loss: 0.1469 - val_accuracy: 0.9675 - val_loss: 0.1372
Epoch 38/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9660 - loss: 0.1452 - val_accuracy: 0.9675 - val_loss: 0.1363
Epoch 39/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9623 - loss: 0.1482 - val_accuracy: 0.9681 - val_loss: 0.1413
Epoch 40/40
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9673 - loss: 0.1383 - val_accuracy: 0.9669 - val_loss: 0.1460

In [20]:
test = pd.read_csv('test.csv')
test.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency
0,18524,3.0,No,7.0,4.0,No,6.0,NaN
1,18525,NaN,Yes,0.0,0.0,Yes,5.0,1.0
2,18526,3.0,No,5.0,6.0,No,15.0,9.0
3,18527,3.0,No,4.0,4.0,No,5.0,6.0
4,18528,9.0,Yes,1.0,2.0,Yes,1.0,1.0

In [21]:
test['Stage_fear'] = test['Stage_fear'].apply(lambda x: 0 if x == 'No' else 1)

In [22]:
test['Drained_after_socializing'] = test['Drained_after_socializing'].apply(lambda x: 0 if x == 'No' else 1)

In [23]:
test = test.fillna(method='bfill')

/tmp/ipykernel_11152/1371139078.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test = test.fillna(method='bfill')

In [24]:
ids = test['id']

In [25]:
test = test.drop('id', axis=1)

In [26]:
ids

0       18524
1       18525
2       18526
3       18527
4       18528
        ...
6170    24694
6171    24695
6172    24696
6173    24697
6174    24698
Name: id, Length: 6175, dtype: int64

In [27]:
model.predict(test)

193/193 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

array([[0.9493036],
       [0.1467149],
       [0.9790733],
       ...,
       [0.9662969],
       [0.9737124],
       [      nan]], dtype=float32)

In [33]:
test_df = pd.DataFrame()

In [34]:
test_df['id'] = ids

In [35]:
predictions = model.predict(test)
predictions = (predictions > 0.5).astype(int)

193/193 ━━━━━━━━━━━━━━━━━━━━ 0s 685us/step

In [36]:
test_df['Personality'] = predictions

In [37]:
test_df['Personality'] = test_df['Personality'].apply(lambda x: 'Extrovert' if x == 1 else 'Introvert')

In [38]:
test_df.to_csv('predictions.csv', index=False)